# This workflow will push a release to NPM and GITHUB packages when there
# is a push to master, next and beta branches using semantic-release.
name: Release

on:
  push:
    branches:
      - master
      - next
      - beta

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 12
      - name: Install
        run: npm ci
      - name: Test
        run: npm test
      - name: Publish
        run: npx semantic-release 
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
